body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    padding: 2rem 1.5rem; 
}

/* Desktop Styles */
@media (min-width: 768px) {
    body {
        padding: 5rem 1.5rem;
    }
}

main {
    max-width: 40rem;
    width: 100%;
    margin: 0 auto; /* Horizontal center */
}

/* Format input field */
.form-control {
    font-size: 14px;
    padding: 0.50rem 1.5rem;
}

/* Format error status */
.form-control.is-invalid {
    border-color: hsl(354, 100%, 66%) !important;
}
.invalid-feedback {
    color: hsl(354, 100%, 66%) !important;
    font-style: italic;
    font-size: 0.75rem; 
    margin-top: 0.3rem;
}

/* Dashboard Format */
.image-custom {
    object-fit: cover;
    width: 100%;
}